.advantages__title {
  @include font-size-height (36px, 60px);
  @include font-oswald;
  font-weight: normal;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%
}

.advantages__img--leaf {
  background-image: url('../img/advantage-leaf@1x.png');
}

.advantages__img--powder {
  background-image: url('../img/advantage-powder@1x.png');
}

.advantages__img--dining {
  background-image: url('../img/advantage-dining@1x.png');
}

.advantages__img--clock {
  background-image: url('../img/advantage-clock@1x.png');
}

.advantages__desc {
  @include font-size-height (14px, 18px);
  width: 200px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    flex-wrap: nowrap;
    min-height: 230px;
  }
}
