@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
