.catalog {
  min-height: 1675px;
}

@media (min-width: $tablet-width) {
  .catalog {
    min-height: 2270px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    min-height: 1130px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
