.contacts {
  min-height: 480px;
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 600px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 405px;
  }
}

.contacts__title {
  @include font-size-height (16px, 20px);
  @include font-oswald;
  text-transform: uppercase;
}

.contacts__text {
  @include font-size-height (14px, 20px);
}
