.page-header__wrap {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  background: transparent;
  border: none;
  width: 25px;
}

.page-header__bottom {
  @include font-oswald;
  text-align: center;
  color: $white;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
}

.page-header__title {
  @include font-size-height (36px, 36px);
  padding-top: 30px;
  margin-top: 0;
  font-weight: normal;
}

.page-header__subtitle {
  @include font-size-height (14px, 14px);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.page-header__set-programm {
  @include button;
}

@media (min-width: $tablet-width) {
  .page-header__top {
    min-height: 120px;
    display: flex;
  }

  .page-header__logo-img {
    margin-right: 18px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__wrap {
    justify-content: flex-start;
  }

  .page-header__bottom {
    background: url("../img/index-can-mobile@1x.png") no-repeat 50%;
    color: $nearly-black;
    text-align: left;
    height: 630px;
    padding-left: 90px;
  }

  .page-header__title {
    @include font-size-height (60px, 60px);
    width: 420px;
  }

  .page-header__subtitle {
    @include font-size-height (20px, 20px);
    margin-bottom: 45px;
  }

  .page-header__wrap-img {
    display: none;
  }

  .page-header__set-programm {
    @include font-size-height (20px, 20px);
    width: 245px;
    padding: 18px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__subtitle {
    margin-bottom: 55px;
  }
}
