.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  @include font-size-height (20px, 20px);
  @include font-oswald;
  text-transform: uppercase;
}

.page-header__bottom {
  @include font-oswald;
  color: #ffffff;
  background: url('../img/index-background-mobile@1x.jpg') no-repeat;
}

.page-header__title {
  @include font-size-height (36px, 36px);
  font-weight: normal;
}

.page-header__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.page-header__set-programm {
  @include font-size-height (14px, 18px);
  text-transform: uppercase;
  color: #ffffff;
  background: #68b738;
}
