.product__wrap-img {
  text-align: center;
  height: 144px
}

.product__content {
  width: 140px;
  padding-top: 22px;
}

.product__name {
  @include font-size-height (16px, 20px);
  @include font-oswald;
  text-transform: uppercase;
  font-weight: normal;
  width: 75px;
  margin: 0;
  margin-bottom: 10px;
}

.product__name--more {
  width: auto;
}

.product__info,
.product__text {
  @include font-size-height (12px, 15px);
  width: 100%;
}

.product__text {
  margin: 0;
  margin-bottom: 20px;
}

.product__field,
.product__value {
  padding: 0;
}

.product__value {
  text-align: right;
}

.product__order,
.product__show-more {
  @include font-oswald (#ffffff);
  @include button;
  @include font-size-height (16px, 20px);
  text-transform: uppercase;
  background: #68b738;
}

.product__show-more {
  color: $black-brown;
  background-color: #f2f2f2;
}

.product__plus-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background: url("../img/icon-plus-mobile.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .product__content {
    width: 100%;
  }

  .product__name {
    @include font-size-height (20px, 20px);
    text-align: center;
    width: 130px;
    margin: 0 auto;
  }

  .product__info {
    @include font-size-height (16px, 16px);
    margin-bottom: 32px;
  }

  .product__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__order {
    width: 100%;
  }
}
