.result {
  min-height: 700px;
}

@media (min-width: $tablet-width) {
  .result {
    min-height: 1080px;
  }
}

@media (min-width: $desktop-width) {
  .result {
    display: flex;
    min-height: 660px;
  }
}

.result__title {
  @include font-size-height (36px, 60px);
  @include font-oswald;
  font-weight: normal;
}

.result__desk {
  @include font-size-height (14px, 18px);
}

.result__item {
  @include font-size-height (24px, 24px);
  @include font-oswald;
}

.result__item-explain {
  @include font-size-height (12px, 12px);
  @include font-arial;
}

.result__costs {
  @include font-size-height (14px, 20px);
  @include font-oswald;
  text-transform: uppercase;
}
